# Changing data files to appropriate format to use for QPP

In [ ]:
import pandas as pd

queries_df = pd.read_xml("./datasets/kid-friend-en/queries/queries.xml")
queries_df["metadata"] = [dict(row[["category", "description", "narrative"]]) for _,row in queries_df.iterrows()]
queries_df = queries_df.drop(labels=["category","description","narrative"],axis=1)
queries_df = queries_df.drop_duplicates(subset=["number"])
queries_df.to_csv("./datasets/kid-friend-en/queries/queries.tsv", index=False, header=False, sep="\t")

In [ ]:
import pandas as pd

with open("./datasets/kid-friend-en/qrels/qrels-relevance.txt", "r") as f_qrel:
    lines= f_qrel.readlines()

qrels = []
for line in lines:
    qid, q0, docid, score = line.split(" ")
    score = int(score)
    qrels.append([qid, q0, docid, score])

qrels_df = pd.DataFrame(qrels, columns=["qid", "q0", "docid", "score"])
qrels_df = qrels_df.drop_duplicates()

for qid in qrels_df["qid"].unique():
    for docid in qrels_df.loc[qrels_df["qid"]==qid]["docid"].unique():
        if len(qrels_df.loc[(qrels_df["qid"]==qid) & (qrels_df["docid"]==docid)]) > 1:
            i = qrels_df.loc[(qrels_df["qid"]==qid) & (qrels_df["docid"]==docid) & (qrels_df["score"]==1)].index  # id qid-docid pair has more than 1 relevance scores, drop row where score = 1 so that docid is completely irrelevant (score = 0) or completely relevant (score  = 2)
            qrels_df = qrels_df.drop(i)

qrels_df.to_csv("./datasets/kid-friend-en/qrels/qrels-relevance.tsv", index=False, header=False, sep="\t")

In [5]:
import json
import pandas as pd


lines = []
with open(r'datasets/kid-friend-en/raw_data/documents.jsonl/documents.jsonl') as f:
    lines = f.read().splitlines()

line_dicts = [json.loads(line) for line in lines]
df_final = pd.DataFrame(line_dicts)

df_final.head(1)

,docno,snippet,title,main_content
0,6e421f1539b1457b853712d81be87743,WEBBTS (also Bangtan Boys; Korean: 방탄소년단 Bangt...,BTS (band) - Wikipedia,BTS (also Bangtan Boys; Korean: 방탄소년단 Bangtan ...

In [6]:
df = pd.read_csv("datasets/kid-friend-en/corpus/documents.jsonl", sep="\t")
df.iloc[0]

{"id":"6e421f1539b1457b853712d81be87743","contents":"BTS (band) - Wikipedia. WEBBTS (also Bangtan Boys; Korean: 방탄소년단 Bangtan Sonyeondan) is a South Korean boy group of the third K-pop generation, consisting of seven members, which was founded in 2010 by Big Hit Entertainment and debuted in 2013.. BTS (also Bangtan Boys; Korean: 방탄소년단 Bangtan Sonyeondan) is a South Korean boy group of the third K-pop generation, consisting of seven members, which was founded in 2010 by Big Hit Entertainment and debuted in 2013.[1][2] The name of the band Bangtan Sonyeondan is a combination of 방탄 (\"bulletproof\") and 소년단 (\"scouts\").[3] In July 2017, the acronym \"BTS\" was also given the meaning Beyond the Scene.[4] Their fans are organized in a fan club called \"A.R.M.Y\" (아미), which stands for \"Adorable Representative M.C for Youth\".[5]\n\nBTS\n\nBTS (2022)\nGeneral information\nOrigin Seoul, South Korea\nGenre(s) K-Pop, Hip-Hop, R&B\nFounded in 2010\nWebsite bts.ibighit.com\nCurrent line-up\nJin\nJimin\nV\nSuga\nRM\nJ-Hope\nJung Kook\n\nThe seven members Jin, Suga, J-Hope, RM, Jimin, V and Jung Kook are involved in writing and producing their songs and albums. While BTS started out as a hip-hop group, their style has developed into a variety of different musical genres. Their lyrics are often social or personal commentaries and deal with the psyche, school problems, growing up, self-love and individualism.\n\nAfter their debut on June 13, 2013 with 2 Cool 4 Skool, they released their first studio album Dark & Wild. With their second studio album Wings in 2016, they sold over one million units in South Korea for the first time. By 2017, BTS achieved international fame through the K-pop subculture and became the pioneers of the Korean Wave in North America, breaking several sales records there. They were the first Korean group to receive Recording Industry Association of America (RIAA) awards and reached number one on the US album charts with Love Yourself: Tear (2018). BTS is one of the few groups since The Beatles to have four number one albums in less than two years. In the US singles charts, BTS reached number one five times in ten months with Dynamite, Savage Love, Life Goes On, Butter and Permission to Dance, breaking a record set by Michael Jackson in 1988.\n\nWith over 20 million albums sold in South Korea, BTS is the most successful group in South Korean music history and has the best-selling album with Map of the Soul: 7. The groups' most prestigious awards include six American Music Awards, nine Billboard Music Awards, 24 Golden Disk Awards and nominations for the Grammy and Brit Award. The members of BTS are also the youngest people to be awarded the South Korean President's Order of Cultural Merit for their contribution to the spread of Korean culture and language.\n\nThe history\n\nMembers\n\nAwards and honors\n\nBTS Universe\n\nTours\n\nDiscography\n\nFilmography\n\nIndividual references"}    {"id":"1539268e3f1d41c9abcaa277b23f51d9","cont...
Name: 0, dtype: object

# Making the CLEAR_QPP dataset

## Using [CLEAR](https://www.commonlit.org/blog/introducing-the-clear-corpus-an-open-dataset-to-advance-research-28ff8cfea84a/) corpus

In [ ]:
import pandas as pd

clear = pd.read_excel("./datasets/clear_qpp/raw_files/clear/CLEAR Corpus 6.01.xlsx")
clear.head()

,ID,Last Changed,Author,Title,Anthology,URL,Source,Pub Year,Category,Location,...,CAREC_M,CARES,CML2RI,firstPlace_pred,secondPlace_pred,thirdPlace_pred,fourthPlace_pred,fifthPlace_pred,sixthPlace_pred,Kaggle split
0,400,NaN,Carolyn Wells,Patty's Suitors,NaN,http://www.gutenberg.org/cache/epub/5631/pg563...,gutenberg,1914.0,Lit,mid,...,0.11952,0.457534,12.097815,-0.383831,-0.283604,-0.346879,-0.281620,-0.247767,-0.289945,Train
1,401,NaN,Carolyn Wells,Two Little Women on a Holiday,NaN,http://www.gutenberg.org/cache/epub/5893/pg589...,gutenberg,1917.0,Lit,mid,...,0.04921,0.462510,22.550179,-0.260307,-0.209960,-0.061565,-0.234231,-0.201347,-0.156156,Train
2,402,NaN,Carolyn Wells,Patty Blossom,NaN,http://www.gutenberg.org/cache/epub/20945/pg20...,gutenberg,1917.0,Lit,mid,...,0.09724,0.369259,18.125279,-0.615037,-0.530600,-0.527847,-0.550180,-0.565762,-0.538852,Train
3,403,NaN,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,NaN,http://www.gutenberg.org/files/25564/25564-h/2...,gutenberg,1863.0,Lit,mid,...,0.08856,0.390759,10.959460,-1.528806,-1.525546,-1.471455,-1.265776,-1.422547,-1.393155,Test
4,404,NaN,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,The Heroes\n or Greek Fairy Tales for my...,http://www.gutenberg.org/files/677/677-h/677-h...,gutenberg,1889.0,Lit,mid,...,0.08798,0.389226,3.195960,-1.335586,-1.321922,-1.163985,-1.122501,-1.185518,-1.271324,Train

In [3]:
from spacheallen.formula import spache_allen
from tqdm.notebook import tqdm

clear_df = clear[["ID", "Title", "Excerpt"]]
spache_allen_scores = []

for _, row in tqdm(clear_df.iterrows(), total=len(clear_df)):
    spache_allen_scores.append(int(spache_allen(row["Excerpt"])))

clear_df["spache_allen"] = spache_allen_scores

  0%|          | 0/4724 [00:00<?, ?it/s]

C:\Users\hrishitachakra\AppData\Local\Temp\ipykernel_27500\3015096391.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clear_df["spache_allen"] = spache_allen_scores

In [65]:
clear_df.head()

,ID,Title,Excerpt,spache_allen
0,400,Patty's Suitors,When the young people returned to the ballroom...,4
1,401,Two Little Women on a Holiday,"All through dinner time, Mrs. Fayre was somewh...",3
2,402,Patty Blossom,"As Roger had predicted, the snow departed as q...",4
3,403,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,Mr. Grimes was to come up next morning to Sir ...,9
4,404,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,And outside before the palace a great garden w...,6

In [ ]:
clear_df_value_counts = clear_df.Title.value_counts().rename_axis('unique_values').reset_index(name='counts')
print(len(clear_df_value_counts.loc[clear_df_value_counts["counts"]>1]))

clear_df_value_counts.loc[clear_df_value_counts["counts"]>1] # number of article titles with more than one excerpt in dataset

46

                                        unique_values  counts
0                             Invention and Discovery      13
1                                                   ?       8
2                                     Current History       4
3                                     LITTLE MISCHIEF       3
4                                            Bacteria       2
5                                THE FAIRY GODMOTHERS       2
6                              Protestant_Reformation       2
7                                              Fungus       2
8                                     Monitress Merle       2
9                                          Metabolism       2
10                                           The Star       2
11                                             Milton       2
12                                  THE UGLY DUCKLING       2
13                                     Rainbow Valley       2
14                                              Sweat       2
15                                     THE BLACK MONK       2
16                                          Feudalism       2
17                                    THE THREE BEARS       2
18  When Water Swims in Water, Will it Float, or W...       2
19                                     Queen Victoria       2
20                                  A Little Princess       2
21                                  The Secret Garden       2
22                               Life of Robert Burns       2
23  Grace Harlowe's Plebe Year at High School\n   ...       2
24      Grace Harlowe's Sophomore Year at High School       2
25                                     Utilitarianism       2
26               The Adventures of Lightfoot the Deer       2
27                         CRUMBS FROM OLDER READING.       2
28                       History of the United States       2
29                          Lynne's birthday surprise       2
30                                  3rd Grade Science       2
31                                                Ion       2
32                                  Fruits of freedom       2
33                                   French Amenities       2
34                                            Voltage       2
35                                        Dark_matter       2
36                                 Rilla of Ingleside       2
37                                Bulgaria’s Attitude       2
38                                       THE PRISONER       2
39                                            Pompeii       2
40         How Does the Toothpaste Get into the Tube?       2
41                              THE LITTLE MATCH GIRL       2
42                                        Latest News       2
43                                   FRIEDRICH WÖHLER       2
44                                 THE ENCHANTED CAVE       2
45                   Progress Invention and Discovery       2

In [ ]:
clear_df_k5 = clear_df.drop_duplicates(subset=["Title"]).loc[clear_df["spache_allen"]<=5]
clear_df_not_k5 = clear_df.drop_duplicates(subset=["Title"]).loc[clear_df["spache_allen"]>5]

# for query in clear_df_k5["Title"].unique():
#     if len(clear_df_not_k5.loc[clear_df_not_k5["Title"]==query]) > 0: # check if same article title has excerpts suitable for grade <=5 and for grade > 5
#         print(query)

clear_df_k5.head()

,ID,Title,Excerpt,spache_allen
0,400,Patty's Suitors,When the young people returned to the ballroom...,4
1,401,Two Little Women on a Holiday,"All through dinner time, Mrs. Fayre was somewh...",3
2,402,Patty Blossom,"As Roger had predicted, the snow departed as q...",4
5,405,The Three Little Bears,Once upon a time there were Three Bears who li...,5
8,408,The Boy Allies At Verdun,"On the twenty-second of February, 1916, an aut...",5

In [81]:
len(clear_df), len(clear_df_k5), len(clear_df_not_k5)

(4724, 3257, 1401)

In [25]:
len(clear_df), len(clear_df_k5), len(clear_df_not_k5)

(4724, 3302, 1422)

In [89]:
clear_queries = []

for _, row in clear_df_k5.sample(500, random_state=123).iterrows():
    id = "qcl"+str(row["ID"])
    query = row["Title"]
    clear_queries.append([id, query])

for _, row in clear_df_not_k5.sample(500, random_state=123).iterrows():
    id = "qcl"+str(row["ID"])
    query = row["Title"]
    clear_queries.append([id, query])

clear_queries_df = pd.DataFrame(clear_queries, columns=["id", "query"])
clear_queries_df.to_csv("./datasets/clear_qpp/raw_files/clear/clear_queries.tsv", sep='\t', index=False)
clear_queries_df

          id                                              query
0    qcl3658                                   All About Coffee
1    qcl3389                                             Bhujar
2    qcl5749                         WHAT I SAW AT THE SEASHORE
3    qcl6351                            Shakespeare's Christmas
4    qcl3412                                   Lion and Warthog
..       ...                                                ...
995  qcl4484    KNIGHTS OF ART\nSTORIES OF THE ITALIAN PAINTERS
996  qcl6066                                      PRINCE CHERRY
997  qcl5126  DETERMINATION OF NITROGEN IN HAIR, WOOL, DRIED...
998  qcl1525                        Ringrose And His Buccaneers
999  qcl6206                            The Story of the Greeks

[1000 rows x 2 columns]

In [90]:
clear_queries_df.columns = ["id", "query"]

len(clear_queries_df), len(clear_queries_df["query"].unique())

(1000, 1000)

In [91]:
clear_docs = []

for _, row in clear_df.iterrows():
    id = "dcl"+str(row["ID"])
    contents = row["Excerpt"]
    clear_docs.append([id,contents])

clear_docs_df = pd.DataFrame(clear_docs, columns=["id", "contents"])
clear_docs_df.to_csv("./datasets/clear_qpp/raw_files/clear/clear_corpus.tsv", sep="\t", index=False)
clear_docs_df

           id                                           contents
0      dcl400  When the young people returned to the ballroom...
1      dcl401  All through dinner time, Mrs. Fayre was somewh...
2      dcl402  As Roger had predicted, the snow departed as q...
3      dcl403  Mr. Grimes was to come up next morning to Sir ...
4      dcl404  And outside before the palace a great garden w...
...       ...                                                ...
4719  dcl8027  The name Monarch means “king”. An adult Monarc...
4720  dcl8028  Walking Sticks are long, thin, and slow-moving...
4721  dcl8029  A Black Widow is a shiny black spider. It has ...
4722  dcl8030  Solids are shapes that you can actually touch....
4723  dcl8031  Animals are made of many cells. They eat thing...

[4724 rows x 2 columns]

In [92]:
len(clear_docs_df["contents"].unique()), len(clear_docs_df)

(4724, 4724)

In [117]:
clear_qrels = [] # qid, q0, docid, score

for _, row in clear_queries_df.iterrows():
    qid = row["id"]
    q0 = 0
    query = row["query"]
    relevant_excerpts = clear_df.loc[clear_df["Title"]==query] # finding the excerpts associated with the title to serve as the relevant text sample(s)
    for _, row in relevant_excerpts.iterrows():
        docid = "dcl"+ str(row["ID"])
        if row["spache_allen"] <= 5:
            score = 3
        elif row["spache_allen"] > 5:
            score = 2
        clear_qrels.append([qid, q0, docid, score])

    random_clear_df_row = clear_df.loc[clear_df["Title"]!=query].sample(1, random_state=123).iloc[0] # picking a random excerpt as the irrelevant text sample
    docid = "dcl" + str(random_clear_df_row["ID"])
    score = 0
    clear_qrels.append([qid, q0, docid, score])


clear_qrels_df = pd.DataFrame(clear_qrels, columns=["qid", "q0", "docid", "score"])
clear_qrels_df.to_csv("./datasets/clear_qpp/raw_files/clear/clear_qrels.tsv", index=False, sep="\t")
clear_qrels_df

          qid  q0    docid  score
0     qcl3658   0  dcl3658      3
1     qcl3658   0  dcl5323      0
2     qcl3389   0  dcl3389      3
3     qcl3389   0  dcl5323      0
4     qcl5749   0  dcl5749      3
...       ...  ..      ...    ...
2005  qcl5126   0  dcl5323      0
2006  qcl1525   0  dcl1525      2
2007  qcl1525   0  dcl5323      0
2008  qcl6206   0  dcl6206      2
2009  qcl6206   0  dcl5322      0

[2010 rows x 4 columns]

In [118]:
# qrel stats

len(clear_qrels_df.qid.unique()), clear_qrels_df.qid.value_counts().mean(), clear_qrels_df.qid.value_counts().max(), clear_qrels_df.qid.value_counts().min()

(1000, 2.01, 3, 2)

## Using the [SQuAD](https://huggingface.co/datasets/rajpurkar/squad/tree/main) dataset

In [119]:
squad_train = pd.read_parquet('./datasets/clear_qpp/raw_files/squad/train.parquet', engine='pyarrow')
squad_valid = pd.read_parquet('./datasets/clear_qpp/raw_files/squad/validation.parquet', engine='pyarrow')
squad = pd.concat([squad_train, squad_valid], ignore_index=True)
print(len(squad))
squad.head()

98169

,id,title,context,question,answers
0,5733be284776f41900661182,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,"{'text': ['Saint Bernadette Soubirous'], 'answ..."
1,5733be284776f4190066117f,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,"{'text': ['a copper statue of Christ'], 'answe..."
2,5733be284776f41900661180,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,"{'text': ['the Main Building'], 'answer_start'..."
3,5733be284776f41900661181,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,{'text': ['a Marian place of prayer and reflec...
4,5733be284776f4190066117e,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,{'text': ['a golden statue of the Virgin Mary'...

In [132]:
squad_corpus_df = squad.drop_duplicates(subset=["context"], ignore_index=True)[["id", "context", "title"]]
squad_corpus_df["id"] = "dsq" + squad_corpus_df["id"]
squad_corpus_df.columns = ["id", "contents", "title"]

squad_corpus_df_final = squad_corpus_df[["id", "contents"]]
squad_corpus_df_final.to_csv("./datasets/clear_qpp/raw_files/squad/squad_corpus.tsv", index=False, sep='\t')
squad_corpus_df_final

,id,contents
0,dsq5733be284776f41900661182,"Architecturally, the school has a Catholic cha..."
1,dsq5733bf84d058e614000b61be,"As at most other universities, Notre Dame's st..."
2,dsq5733bed24776f41900661188,The university is the major seat of the Congre...
3,dsq5733a6424776f41900660f51,The College of Engineering was established in ...
4,dsq5733a70c4776f41900660f64,All of Notre Dame's undergraduate students are...
...,...,...
20953,dsq5737a5931c456719005744e7,"where is the mass of the object, is the velo..."
20954,dsq5737a7351c456719005744f1,A conservative force that acts on a closed sys...
20955,dsq5737a84dc3c5551400e51f59,"For certain physical scenarios, it is impossib..."
20956,dsq5737a9afc3c5551400e51f61,The connection between macroscopic nonconserva...
20957,dsq5737aafd1c456719005744fb,"The pound-force has a metric counterpart, less..."

In [133]:
squad_corpus_df

,id,contents,title
0,dsq5733be284776f41900661182,"Architecturally, the school has a Catholic cha...",University_of_Notre_Dame
1,dsq5733bf84d058e614000b61be,"As at most other universities, Notre Dame's st...",University_of_Notre_Dame
2,dsq5733bed24776f41900661188,The university is the major seat of the Congre...,University_of_Notre_Dame
3,dsq5733a6424776f41900660f51,The College of Engineering was established in ...,University_of_Notre_Dame
4,dsq5733a70c4776f41900660f64,All of Notre Dame's undergraduate students are...,University_of_Notre_Dame
...,...,...,...
20953,dsq5737a5931c456719005744e7,"where is the mass of the object, is the velo...",Force
20954,dsq5737a7351c456719005744f1,A conservative force that acts on a closed sys...,Force
20955,dsq5737a84dc3c5551400e51f59,"For certain physical scenarios, it is impossib...",Force
20956,dsq5737a9afc3c5551400e51f61,The connection between macroscopic nonconserva...,Force
20957,dsq5737aafd1c456719005744fb,"The pound-force has a metric counterpart, less...",Force

In [130]:
len(squad_corpus_df), len(squad_corpus_df["contents"].unique())

(20958, 20958)

In [121]:
squad_queries_df = squad.drop_duplicates(subset=["question"], ignore_index=True).sample(500, random_state=123)[["id", "question"]]
squad_queries_df["id"] = "qsq" + squad_queries_df["id"]
squad_queries_df.columns = ["id", "query"]
squad_queries_df.to_csv("./datasets/clear_qpp/raw_files/squad/squad_queries.tsv", index=False, sep="\t")
squad_queries_df

,id,query
72640,qsq572edf54dfa6aa1500f8d48b,What year did the terror bombing policy become...
22467,qsq56fa88b8f34c681400b0c0e9,Which service contains 10 HD channels and fini...
95270,qsq57283dbeff5b5019007d9fca,What Doctor Who episode won a Hugo Award in 2010?
87840,qsq56d71bd80d65d2140019835e,When is the game's media day usually held?
84263,qsq5731ddefb9d445190005e5d8,What is the profession of Philip Hamburger?
...,...,...
82330,qsq5731360e497a881900248c4e,What declaration solidified Confucian values?
31153,qsq570cc952b3d812140066d276,Which Latin father described the belief that J...
29851,qsq570b8145ec8fbc190045ba3f,"how much prarie land does the ""Buffalo Commons..."
63958,qsq5728a8e0ff5b5019007da3c4,What major event happened in Alaska on March 2...
67724,qsq572a14abaf94a219006aa7bc,Which 11th century book discussed space percep...

In [129]:
len(squad_queries_df), len(squad_queries_df["query"].unique())

(500, 500)

In [123]:
from tqdm.notebook import tqdm

squad_qrels = [] # qid, q0, docid, score

for _, row in tqdm(squad_queries_df.iterrows(), total=len(squad_queries_df)):
    qid = row["id"]
    q0 = 0
    query = row["query"]
    relevant_content = squad.loc[squad["question"]==query].iloc[0]["context"]
    docid = squad_corpus_df.loc[squad_corpus_df["contents"]==relevant_content].iloc[0]["id"]
    spache_allen_score = int(spache_allen(relevant_content))
    if spache_allen_score <= 5:
        score = 2
    elif spache_allen_score > 5:
        score = 1
    squad_qrels.append([qid, q0, docid, score])

    relevant_content_title = squad_corpus_df.loc[squad_corpus_df["contents"]==relevant_content].iloc[0]["title"]
    irrelevant_content_row = squad_corpus_df.loc[squad_corpus_df["title"]!=relevant_content_title].sample(1, random_state = 123).iloc[0]
    docid = irrelevant_content_row["id"]
    score = 0
    squad_qrels.append([qid, q0, docid, score])

squad_qrels_df = pd.DataFrame(squad_qrels, columns=["qid", "q0", "docid", "score"])
squad_qrels_df.to_csv("./datasets/clear_qpp/raw_files/squad/squad_qrels.tsv", index=False, sep="\t")
squad_qrels_df

  0%|          | 0/500 [00:00<?, ?it/s]

                             qid  q0                        docid  score
0    qsq572edf54dfa6aa1500f8d48b   0  dsq572edf54dfa6aa1500f8d489      1
1    qsq572edf54dfa6aa1500f8d48b   0  dsq572e8c9003f989190075676b      0
2    qsq56fa88b8f34c681400b0c0e9   0  dsq56fa88b8f34c681400b0c0e7      1
3    qsq56fa88b8f34c681400b0c0e9   0  dsq5726f50add62a815002e9630      0
4    qsq57283dbeff5b5019007d9fca   0  dsq57283dbeff5b5019007d9fc6      1
..                           ...  ..                          ...    ...
995  qsq570b8145ec8fbc190045ba3f   0  dsq56ce7ba4aab44d1400b887ed      0
996  qsq5728a8e0ff5b5019007da3c4   0  dsq5728a8e0ff5b5019007da3c4      1
997  qsq5728a8e0ff5b5019007da3c4   0  dsq57268d7ef1498d1400e8e392      0
998  qsq572a14abaf94a219006aa7bc   0  dsq572a14abaf94a219006aa7bb      1
999  qsq572a14abaf94a219006aa7bc   0  dsq56de99cfcffd8e1900b4ba26      0

[1000 rows x 4 columns]

In [126]:
squad_qrels_df.loc[squad_qrels_df["score"]==2]

                             qid  q0                        docid  score
10   qsq5711623e50c2381900b54abb   0  dsq5711623e50c2381900b54ab9      2
20   qsq5731dc25b9d445190005e5ca   0  dsq5731dc25b9d445190005e5c7      2
30   qsq57309634069b5314008321b3   0  dsq57309634069b5314008321af      2
42   qsq56df680f8bc80c19004e4bdd   0  dsq56df680f8bc80c19004e4bdd      2
56   qsq56df9d3c4a1a83140091eb91   0  dsq56df9d3c4a1a83140091eb90      2
..                           ...  ..                          ...    ...
962  qsq56bfb676a10cfb1400551266   0  dsq56beb50f3aeaaa14008c926f      2
964  qsq57279bd5dd62a815002ea1dc   0  dsq57279bd5dd62a815002ea1dc      2
968  qsq572922ae1d0469140077909e   0  dsq5726fee55951b619008f8445      2
982  qsq571c3a685efbb31900334db4   0  dsq571a484210f8ca1400304fbd      2
988  qsq570637be52bb89140068997a   0  dsq570637be52bb891400689978      2

[112 rows x 4 columns]

In [124]:
# qrel stats

len(squad_qrels_df.qid.unique()), squad_qrels_df.qid.value_counts().mean(), squad_qrels_df.qid.value_counts().max(), squad_qrels_df.qid.value_counts().min()

(500, 2.0, 2, 2)

## Combining squad and clear to create clear_qpp

In [137]:
clear_qpp_corpus = pd.concat([clear_docs_df, squad_corpus_df_final], ignore_index=True)
clear_qpp_corpus.to_csv("./datasets/clear_qpp/raw_files/clear_qpp_raw/clear_qpp_corpus.tsv", index=False, sep="\t")
clear_qpp_corpus

,id,contents
0,dcl400,When the young people returned to the ballroom...
1,dcl401,"All through dinner time, Mrs. Fayre was somewh..."
2,dcl402,"As Roger had predicted, the snow departed as q..."
3,dcl403,Mr. Grimes was to come up next morning to Sir ...
4,dcl404,And outside before the palace a great garden w...
...,...,...
25677,dsq5737a5931c456719005744e7,"where is the mass of the object, is the velo..."
25678,dsq5737a7351c456719005744f1,A conservative force that acts on a closed sys...
25679,dsq5737a84dc3c5551400e51f59,"For certain physical scenarios, it is impossib..."
25680,dsq5737a9afc3c5551400e51f61,The connection between macroscopic nonconserva...
25681,dsq5737aafd1c456719005744fb,"The pound-force has a metric counterpart, less..."

In [142]:
len(clear_qpp_corpus), len(clear_qpp_corpus["contents"].unique()), len(clear_qpp_corpus["id"].unique())

(25682, 25682, 25682)

In [138]:
clear_qpp_queries = pd.concat([clear_queries_df, squad_queries_df], ignore_index=True)
clear_qpp_queries.to_csv("./datasets/clear_qpp/raw_files/clear_qpp_raw/clear_qpp_queries.tsv", index=False, sep="\t")
clear_qpp_queries

,id,query
0,qcl3658,All About Coffee
1,qcl3389,Bhujar
2,qcl5749,WHAT I SAW AT THE SEASHORE
3,qcl6351,Shakespeare's Christmas
4,qcl3412,Lion and Warthog
...,...,...
1495,qsq5731360e497a881900248c4e,What declaration solidified Confucian values?
1496,qsq570cc952b3d812140066d276,Which Latin father described the belief that J...
1497,qsq570b8145ec8fbc190045ba3f,"how much prarie land does the ""Buffalo Commons..."
1498,qsq5728a8e0ff5b5019007da3c4,What major event happened in Alaska on March 2...
1499,qsq572a14abaf94a219006aa7bc,Which 11th century book discussed space percep...

In [143]:
len(clear_qpp_queries), len(clear_qpp_queries["query"].unique()), len(clear_qpp_queries["id"].unique())

(1500, 1500, 1500)

In [139]:
clear_qpp_qrels = pd.concat([clear_qrels_df, squad_qrels_df], ignore_index=True)
clear_qpp_qrels.to_csv("./datasets/clear_qpp/raw_files/clear_qpp_raw/clear_qpp_qrels.tsv", index=False, sep="\t")
clear_qpp_qrels

                              qid  q0                        docid  score
0                         qcl3658   0                      dcl3658      3
1                         qcl3658   0                      dcl5323      0
2                         qcl3389   0                      dcl3389      3
3                         qcl3389   0                      dcl5323      0
4                         qcl5749   0                      dcl5749      3
...                           ...  ..                          ...    ...
3005  qsq570b8145ec8fbc190045ba3f   0  dsq56ce7ba4aab44d1400b887ed      0
3006  qsq5728a8e0ff5b5019007da3c4   0  dsq5728a8e0ff5b5019007da3c4      1
3007  qsq5728a8e0ff5b5019007da3c4   0  dsq57268d7ef1498d1400e8e392      0
3008  qsq572a14abaf94a219006aa7bc   0  dsq572a14abaf94a219006aa7bb      1
3009  qsq572a14abaf94a219006aa7bc   0  dsq56de99cfcffd8e1900b4ba26      0

[3010 rows x 4 columns]

In [145]:
len(clear_qpp_qrels.qid.unique()), clear_qpp_qrels.qid.value_counts().mean(), clear_qpp_qrels.qid.value_counts().max(), clear_qpp_qrels.qid.value_counts().min()

(1500, 2.006666666666667, 3, 2)

In [149]:
clear_qpp_qrels.score.value_counts()

score
0    1500
2     616
3     506
1     388
Name: count, dtype: int64

In [151]:
clear_qpp_qrels.score.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

score
0    49.8%
2    20.5%
3    16.8%
1    12.9%
Name: proportion, dtype: object

In [1]:
## creating folds for cross-validation

import pandas as pd

df = pd.read_csv("./datasets/clear_qpp/queries/queries.tsv", sep="\t", header=None).sample(frac=1, random_state=123).reset_index(drop=True)
df.columns = ["qid", "qtext"]
foldid2qid={1: [],
         2: [],
         3: [],
         4: [],
         5: []}

counter = 0
for _, row in df.iterrows():
    foldid2qid[(counter%5)+1].append(row["qid"])
    counter+=1

foldid2qid

{1: ['qcl5310',
  'qcl7019',
  'qcl4360',
  'qcl5935',
  'qsq570e1f340dc6ce1900204dcb',
  'qcl3263',
  'qsq5726e3c4dd62a815002e9408',
  'qcl7276',
  'qcl2683',
  'qsq570b66566b8089140040f92f',
  'qcl3669',
  'qcl7394',
  'qcl1990',
  'qcl2840',
  'qsq56dfba0f231d4119001abd20',
  'qcl5772',
  'qcl7179',
  'qsq5725077c0ba9f01400d97c37',
  'qsq572e9a4edfa6aa1500f8d1e4',
  'qsq573058df069b531400832097',
  'qsq56e427248c00841900fbaeff',
  'qsq56e75cd337bdd419002c3eec',
  'qcl5018',
  'qcl7404',
  'qcl5492',
  'qcl5052',
  'qsq56dc63c214d3a41400c26845',
  'qcl5566',
  'qsq572959183f37b31900478298',
  'qcl730',
  'qsq5728349dff5b5019007d9efe',
  'qcl1246',
  'qsq570ce1a4b3d812140066d2d8',
  'qcl4969',
  'qsq570c50afb3d812140066d0c8',
  'qsq57306cfb2461fd1900a9ce04',
  'qcl6563',
  'qcl2075',
  'qcl6188',
  'qsq5726e06df1498d1400e8ee55',
  'qcl2215',
  'qsq5726712af1498d1400e8dfc2',
  'qsq570e7b8c0b85d914000d7f37',
  'qcl7263',
  'qsq56df5a5d96943c1400a5d407',
  'qsq572994ff1d0469140077955e',
  'qcl5376',
  'qcl3804',
  'qcl3130',
  'qcl3301',
  'qcl6494',
  'qcl7037',
  'qcl6944',
  'qsq56ccf12b62d2951400fa64f5',
  'qcl3518',
  'qcl2830',
  'qcl5634',
  'qcl2470',
  'qsq573057502461fd1900a9cd7b',
  'qcl2532',
  'qcl7297',
  'qsq5726b9d05951b619008f7bea',
  'qsq572885023acd2414000dfa85',
  'qsq5731dc7ae99e3014001e635f',
  'qcl6355',
  'qcl6996',
  'qsq570e0bb30b85d914000d7c95',
  'qsq570b421bec8fbc190045b925',
  'qsq5726dbef5951b619008f8038',
  'qsq572f1de804bcaa1900d76752',
  'qcl5365',
  'qcl4766',
  'qcl3843',
  'qcl2613',
  'qcl7306',
  'qsq5727a5a64b864d190016394a',
  'qcl2674',
  'qcl5580',
  'qcl5718',
  'qcl3714',
  'qcl4764',
  'qcl4991',
  'qcl3809',
  'qcl2302',
  'qsq5730bbbb8ab72b1400f9c735',
  'qcl3910',
  'qcl1516',
  'qcl6397',
  'qcl4143',
  'qsq5728a7b83acd2414000dfc06',
  'qcl6220',
  'qcl5751',
  'qcl3482',
  'qcl4891',
  'qsq570603ed52bb8914006897a6',
  'qcl7027',
  'qcl2085',
  'qcl5746',
  'qcl5646',
  'qsq57339c184776f41900660ea5',
  'qcl2741',
  'qcl2622',
  'qcl3731',
  'qcl5081',
  'qcl4727',
  'qsq56f84154aef2371900625f5e',
  'qcl1996',
  'qcl1180',
  'qcl3670',
  'qsq570d64fcb3d812140066d7ed',
  'qsq5706a32852bb891400689af4',
  'qsq5727aca43acd2414000de954',
  'qcl7450',
  'qcl4773',
  'qcl1928',
  'qcl2512',
  'qcl7439',
  'qsq57262d6838643c19005ad2ab',
  'qcl5088',
  'qcl7219',
  'qcl3871',
  'qcl6643',
  'qcl2708',
  'qcl2069',
  'qcl5821',
  'qsq573021a304bcaa1900d771e8',
  'qcl2458',
  'qcl5508',
  'qcl3749',
  'qsq572839254b864d1900164792',
  'qcl6251',
  'qcl6405',
  'qcl6003',
  'qcl4055',
  'qsq5728ba9d2ca10214002da6a6',
  'qcl6032',
  'qcl3248',
  'qsq57279ae5ff5b5019007d90cc',
  'qcl3412',
  'qcl4739',
  'qcl7481',
  'qcl3461',
  'qcl5275',
  'qcl6403',
  'qcl2730',
  'qcl2775',
  'qsq57063e7075f01819005e7ab6',
  'qcl4465',
  'qcl4801',
  'qcl4964',
  'qsq5731ddefb9d445190005e5d8',
  'qcl3311',
  'qcl725',
  'qsq57264268271a42140099d7ee',
  'qcl2410',
  'qsq56f98b129e9bad19000a0a84',
  'qcl4953',
  'qcl5660',
  'qcl2331',
  'qcl3056',
  'qsq571999714faf5e1900b8a7ce',
  'qsq5705ea7975f01819005e775e',
  'qsq5728128cff5b5019007d9c76',
  'qcl1198',
  'qsq57279bd5dd62a815002ea1dc',
  'qsq572a3398af94a219006aa88e',
  'qsq56d1335f17492d1400aabc17',
  'qcl2329',
  'qcl2388',
  'qcl5395',
  'qsq5726593a5951b619008f7039',
  'qsq572695bc5951b619008f7756',
  'qsq5726652e5951b619008f718a',
  'qcl2505',
  'qsq5706b5312eaba6190074ac52',
  'qsq56cbe9436d243a140015eddf',
  'qcl8024',
  'qsq570e4fe50b85d914000d7e06',
  'qcl6497',
  'qcl1247',
  'qsq56d11a1217492d1400aab955',
  'qcl2555',
  'qcl5609',
  'qcl6904',
  'qcl1544',
  'qsq572967e31d046914007793b5',
  'qcl3796',
  'qcl6264',
  'qcl4316',
  'qsq56f85bc0a6d7ea1400e175ba',
  'qcl4619',
  'qcl5044',
  'qsq56fc2f352603e71400409ff4',
  'qcl7246',
  'qcl5521',
  'qsq570d2104b3d812140066d469',
  'qcl4832',
  'qcl4617',
  'qcl5913',
  'qcl6745',
  'qsq571de7edb64a571400c71dea',
  'qcl5512',
  'qcl6762',
  'qsq573121fca5e9cc1400cdbc66',
  'qcl2721',
  'qcl5159',
  'qsq57313738497a881900248c67',
  'qsq57301ce7b2c2fd14005688a3',
  'qsq572659535951b619008f7040',
  'qsq57282ec84b864d1900164684',
  'qcl457',
  'qcl7062',
  'qcl5491',
  'qcl2922',
  'qcl1922',
  'qcl6439',
  'qcl3164',
  'qcl2529',
  'qcl2207',
  'qsq57283167ff5b5019007d9ec7',
  'qcl5641',
  'qcl7032',
  'qcl7453',
  'qcl473',
  'qcl4756',
  'qsq5726ad33708984140094cd9c',
  'qcl6568',
  'qcl1241',
  'qsq56f82b25a6d7ea1400e1745a',
  'qcl3540',
  'qsq5711181cb654c5140001fb3d',
  'qcl2725',
  'qsq5706371452bb891400689971',
  'qcl7414',
  'qcl2327',
  'qsq5723f31e0dadf01500fa1fb0',
  'qsq5731360e497a881900248c4d',
  'qsq56cebae8aab44d1400b88940',
  'qsq570c7c46b3d812140066d20c',
  'qcl7210',
  'qsq572ec240cb0c0d14000f1510',
  'qcl2477',
  'qsq5733849bd058e614000b5c58',
  'qcl6077',
  'qsq572eb0d603f9891900756959',
  'qsq572a373d6aef051400155394',
  'qcl5635',
  'qcl6334',
  'qcl439',
  'qcl7245',
  'qcl2597',
  'qcl6522',
  'qsq572699fcdd62a815002e8abe',
  'qcl5046',
  'qcl2473',
  'qcl5513',
  'qcl3077',
  'qcl7072',
  'qsq572635e3271a42140099d787',
  'qsq573350a0d058e614000b5843',
  'qcl5126',
  'qsq5727acde3acd2414000de95f',
  'qcl3750',
  'qcl1194',
  'qsq572733abf1498d1400e8f483',
  'qcl3406',
  'qcl2389',
  'qcl3219',
  'qsq56bebba63aeaaa14008c930e',
  'qcl6721',
  'qcl1248',
  'qsq5733caf74776f41900661250',
  'qsq56cf2c48aab44d1400b88dc5',
  'qcl5438',
  'qcl3596',
  'qcl6659',
  'qcl5708',
  'qsq57341ab74776f4190066187d',
  'qsq56cd8f8962d2951400fa6719',
  'qcl5104',
  'qcl4400',
  'qcl6315',
  'qsq5730040f947a6a140053cf50',
  'qsq57281dcd3acd2414000df4db',
  'qcl6313',
  'qcl5328',
  'qcl6947',
  'qcl5465',
  'qcl7135',
  'qcl6508',
  'qcl7311',
  'qcl2623',
  'qsq5726da7d708984140094d39d',
  'qcl2734',
  'qcl1976',
  'qcl2409',
  'qsq572f58d9a23a5019007fc57d',
  'qcl4904',
  'qcl4903',
  'qsq572ebda3c246551400ce45ce'],
 2: ['qsq57268a8d708984140094c977',
  'qsq56f6e729711bf01900a4485c',
  'qsq572fe393947a6a140053cdbd',
  'qsq5729355b1d0469140077916e',
  'qcl5720',
  'qsq5726fd08f1498d1400e8f1cd',
  'qsq5726f0865951b619008f82e8',
  'qcl3904',
  'qcl2570',
  'qcl2055',
  'qcl7147',
  'qcl5578',
  'qcl5229',
  'qcl1967',
  'qsq56df10063277331400b4d92c',
  'qcl3318',
  'qsq56f74ffbaef2371900625af1',
  'qcl3789',
  'qsq57269a5f708984140094cb65',
  'qcl4543',
  'qsq57296a8baf94a219006aa3cd',
  'qcl1586',
  'qsq572841772ca10214002da1a9',
  'qsq57265aaf5951b619008f706c',
  'qcl2951',
  'qcl2776',
  'qcl2829',
  'qsq570c3cc96b8089140040fc54',
  'qsq5726d8c15951b619008f7fcc',
  'qcl5489',
  'qcl6970',
  'qcl4794',
  'qcl7136',
  'qcl2504',
  'qcl4484',
  'qcl7132',
  'qcl7362',
  'qcl2336',
  'qcl6526',
  'qcl4684',
  'qcl6666',
  'qsq572f83f3b2c2fd14005681a7',
  'qsq56d614dd1c85041400946f08',
  'qsq5727d28c4b864d1900163df0',
  'qcl2012',
  'qcl5482',
  'qcl4945',
  'qcl5773',
  'qsq56bed1243aeaaa14008c94b7',
  'qcl3008',
  'qsq56e1030ae3433e1400422a9e',
  'qcl6013',
  'qcl6410',
  'qcl5988',
  'qcl2282',
  'qcl1933',
  'qcl4683',
  'qsq5730301cb2c2fd1400568a23',
  'qcl3383',
  'qcl2488',
  'qcl5372',
  'qcl5233',
  'qcl3354',
  'qcl5242',
  'qcl2041',
  'qsq56d135e0e7d4791d00902016',
  'qcl4922',
  'qcl5730',
  'qcl3822',
  'qcl6213',
  'qcl2073',
  'qsq570990a2200fba14003681a5',
  'qcl4763',
  'qcl7429',
  'qcl5433',
  'qsq57318ea405b4da19006bd2a6',
  'qcl6277',
  'qcl4299',
  'qsq572fdb17b2c2fd140056851f',
  'qcl4468',
  'qcl2049',
  'qcl7091',
  'qcl2292',
  'qsq56d2955559d6e414001460e3',
  'qsq572ab36d34ae481900deac61',
  'qsq573269d2b9d445190005eb06',
  'qcl2193',
  'qcl6066',
  'qsq56cd7ca662d2951400fa662b',
  'qcl5169',
  'qsq56df88ca4a1a83140091eaff',
  'qcl3996',
  'qcl6438',
  'qsq571b66819499d21900609c98',
  'qcl2802',
  'qsq5728455bff5b5019007da07a',
  'qsq57280b934b864d19001642f3',
  'qsq5732728be17f3d1400422989',
  'qcl4784',
  'qcl3126',
  'qcl5619',
  'qcl2943',
  'qcl1991',
  'qsq56e152d7cd28a01900c677c9',
  'qsq572697f0708984140094cb3c',
  'qsq5727ac6aff5b5019007d9251',
  'qcl3570',
  'qcl5147',
  'qcl5740',
  'qcl6030',
  'qcl3048',
  'qsq57337343d058e614000b5b31',
  'qcl2137',
  'qsq56de22074396321400ee25d3',
  'qcl5473',
  'qsq572951d81d0469140077928d',
  'qcl2451',
  'qsq57324bd1b9d445190005e9dd',
  'qsq5732a7f71d5d2e14009ff87f',
  'qcl7212',
  'qcl7184',
  'qcl6596',
  'qcl5377',
  'qcl5544',
  'qcl4853',
  'qsq56f83269aef2371900625ef0',
  'qcl3512',
  'qcl5704',
  'qcl7180',
  'qsq56e0840c231d4119001ac23c',
  'qcl3204',
  'qcl3375',
  'qcl6606',
  'qcl5830',
  'qcl6645',
  'qcl5173',
  'qsq56e11c24e3433e1400422c1b',
  'qsq5732584f0fdd8d15006c69ff',
  'qcl4510',
  'qsq570d69bafed7b91900d46036',
  'qsq5733926d4776f41900660d90',
  'qsq57343d20d058e614000b6b6b',
  'qcl6769',
  'qsq5727659a5951b619008f8961',
  'qcl5296',
  'qcl4331',
  'qcl2893',
  'qcl4844',
  'qsq5726e2bf708984140094d4c7',
  'qsq57327732b9d445190005eb3f',
  'qcl2134',
  'qcl2723',
  'qsq56d3887c59d6e4140014667d',
  'qcl2851',
  'qcl2604',
  'qcl5132',
  'qcl6656',
  'qsq572fcc0f04bcaa1900d76d49',
  'qcl3535',
  'qcl4074',
  'qsq5728284e3acd2414000df5d1',
  'qcl4621',
  'qcl5281',
  'qcl5175',
  'qcl2441',
  'qsq5727b7804b864d1900163b2a',
  'qcl4282',
  'qsq572687e35951b619008f75f5',
  'qsq572a1481af94a219006aa7b2',
  'qcl8010',
  'qcl4698',
  'qcl4989',
  'qcl1284',
  'qcl2844',
  'qcl853',
  'qsq570aa9616d058f1900183045',
  'qcl1903',
  'qsq56f74604aef2371900625a8b',
  'qcl7423',
  'qsq572825042ca10214002d9eeb',
  'qcl2226',
  'qcl6333',
  'qsq57340f5bd058e614000b68d0',
  'qcl6577',
  'qsq57303b58947a6a140053d2e0',
  'qcl7013',
  'qsq572795a6dd62a815002ea12f',
  'qsq572fed9fa23a5019007fcb55',
  'qsq570cc952b3d812140066d276',
  'qsq57268606708984140094c8d7',
  'qcl6256',
  'qcl2359',
  'qsq56ddbae166d3e219004dacb0',
  'qsq5727cd373acd2414000decc2',
  'qcl2176',
  'qcl471',
  'qsq5728050dff5b5019007d9b12',
  'qcl2684',
  'qcl4323',
  'qsq57266d49708984140094c59d',
  'qcl4567',
  'qcl858',
  'qsq5726520d708984140094c243',
  'qcl6920',
  'qsq572859253acd2414000df939',
  'qcl7295',
  'qcl5845',
  'qcl4985',
  'qcl6707',
  'qcl7285',
  'qsq5725bbfcec44d21400f3d499',
  'qcl4868',
  'qcl2432',
  'qsq5726a882f1498d1400e8e663',
  'qsq573233c1b9d445190005e8be',
  'qsq57339dd94776f41900660ecd',
  'qsq572a8568f75d5e190021fb44',
  'qsq56e7a21637bdd419002c42a3',
  'qcl2876',
  'qcl5268',
  'qsq56e7882837bdd419002c40c9',
  'qcl5061',
  'qcl7395',
  'qsq5730b5cc396df919000962d3',
  'qcl4403',
  'qcl6583',
  'qcl6655',
  'qsq572843282ca10214002da1dc',
  'qcl1936',
  'qcl7286',
  'qsq57322a65b9d445190005e88c',
  'qcl6344',
  'qcl742',
  'qcl2004',
  'qsq56e1040ecd28a01900c6743d',
  'qsq5705f12375f01819005e77b2',
  'qsq56fa995df34c681400b0c0fc',
  'qcl2688',
  'qcl2172',
  'qcl7417',
  'qsq572e99e7dfa6aa1500f8d1d7',
  'qcl6685',
  'qsq56e7c15800c9c71400d77587',
  'qcl4523',
  'qcl7138',
  'qcl2394',
  'qcl4934',
  'qsq57096955ed30961900e840c5',
  'qcl4294',
  'qcl5290',
  'qcl4943',
  'qsq5728a8e0ff5b5019007da3c4',
  'qcl6299',
  'qsq572830622ca10214002da032',
  'qcl2740',
  'qcl1103',
  'qcl4933',
  'qsq5731f0f0b9d445190005e6cd',
  'qcl5373',
  'qsq5726cdcbdd62a815002e90ca',
  'qsq5726893c5951b619008f7626',
  'qcl6664',
  'qcl5247',
  'qcl6909',
  'qcl6339',
  'qcl2463',
  'qcl1299',
  'qsq5727caa02ca10214002d965e',
  'qcl4601',
  'qcl2086',
  'qcl6651',
  'qcl6549',
  'qsq572fda8ab2c2fd1400568517',
  'qcl5158',
  'qsq570c0099ec8fbc190045bc0c',
  'qcl1525',
  'qcl6235',
  'qcl5855',
  'qsq5733f6a4d058e614000b6693',
  'qcl6689',
  'qcl2391',
  'qsq5727772ff1498d1400e8f8e0',
  'qsq56f83350a6d7ea1400e17492',
  'qcl5683',
  'qcl4444',
  'qcl7482',
  'qsq5726785bf1498d1400e8e0d3',
  'qcl5835',
  'qsq56f9396d9b226e1400dd12ad',
  'qcl3379',
  'qsq56cff817234ae51400d9c1a4',
  'qcl5409',
  'qcl5371',
  'qcl6789',
  'qsq570b8145ec8fbc190045ba3f',
  'qsq5728c94a2ca10214002da7c6',
  'qcl4870',
  'qcl5031',
  'qcl3631',
  'qsq572a0071af94a219006aa749'],
 3: ['qcl4987',
  'qcl1187',
  'qsq5728e9944b864d190016507f',
  'qcl2263',
  'qsq573407b6d058e614000b680a',
  'qcl5362',
  'qcl5898',
  'qcl2145',
  'qcl3334',
  'qsq572ec545cb0c0d14000f1530',
  'qcl5038',
  'qsq572a8d2834ae481900deab79',
  'qcl7346',
  'qsq56d6f4030d65d2140019829c',
  'qcl6749',
  'qsq56e6b8436fe0821900b8eb46',
  'qcl3781',
  'qcl2127',
  'qcl4852',
  'qcl1917',
  'qcl2715',
  'qcl7035',
  'qcl2370',
  'qcl4924',
  'qsq56d3768e59d6e41400146489',
  'qcl7207',
  'qsq5709f8b96d058f1900182c40',
  'qcl6517',
  'qsq572848bc3acd2414000df87d',
  'qcl1110',
  'qsq572edf54dfa6aa1500f8d48b',
  'qsq5725cd0a89a1e219009abef0',
  'qcl4434',
  'qcl3339',
  'qcl2052',
  'qsq57100800b654c5140001f764',
  'qcl1513',
  'qsq5727a38d3acd2414000de896',
  'qcl4818',
  'qsq5726760c708984140094c6e1',
  'qcl7348',
  'qsq56de7296cffd8e1900b4b91c',
  'qsq573012f504bcaa1900d77110',
  'qcl1582',
  'qcl1260',
  'qcl6455',
  'qcl6605',
  'qcl2228',
  'qcl2236',
  'qsq57307b79069b531400832119',
  'qsq56d10b9a17492d1400aab7fb',
  'qcl1199',
  'qcl5614',
  'qcl5758',
  'qcl6875',
  'qsq570d32cffed7b91900d45cfb',
  'qcl4889',
  'qcl6991',
  'qsq56df9d3c4a1a83140091eb91',
  'qsq570cfdd0b3d812140066d389',
  'qcl3502',
  'qcl5073',
  'qcl5359',
  'qcl7451',
  'qcl2490',
  'qsq573181fd05b4da19006bd1fe',
  'qsq56dd2d7d9a695914005b9530',
  'qcl7185',
  'qcl6027',
  'qsq56e03cc27aa994140058e3fa',
  'qsq56f9613f9b226e1400dd13f3',
  'qsq5726eb4b5951b619008f826d',
  'qsq56e09fc4231d4119001ac2df',
  'qcl3501',
  'qcl6732',
  'qsq570d3ac0fed7b91900d45d5e',
  'qcl2754',
  'qsq571aa0a810f8ca14003051ec',
  'qsq570bd233ec8fbc190045bb2c',
  'qcl3140',
  'qcl744',
  'qcl2158',
  'qcl3450',
  'qcl2404',
  'qsq56bfb676a10cfb1400551266',
  'qcl4024',
  'qcl4328',
  'qsq573263bde17f3d1400422941',
  'qcl5716',
  'qcl3630',
  'qsq571a2b9e4faf5e1900b8a8e6',
  'qcl4584',
  'qsq57336e80d058e614000b5af4',
  'qcl6236',
  'qsq5727ff19ff5b5019007d9a7f',
  'qcl4491',
  'qsq5727ae364b864d1900163a1e',
  'qcl3661',
  'qcl2635',
  'qcl5543',
  'qsq570e37d60b85d914000d7d8c',
  'qcl2899',
  'qcl2590',
  'qsq56fb7c108ddada1400cd6458',
  'qsq57309634069b5314008321b3',
  'qcl3908',
  'qcl5825',
  'qcl4811',
  'qcl5697',
  'qcl1593',
  'qcl2808',
  'qcl6910',
  'qsq570a898d4103511400d59836',
  'qcl6100',
  'qcl3829',
  'qcl864',
  'qsq5727bbc63acd2414000deadd',
  'qcl7098',
  'qcl2630',
  'qcl6399',
  'qsq57269e12f1498d1400e8e50c',
  'qcl3823',
  'qsq5731ba670fdd8d15006c64ad',
  'qcl6859',
  'qcl5828',
  'qcl4888',
  'qcl5360',
  'qsq5726255e271a42140099d585',
  'qcl4357',
  'qsq56df772656340a1900b29bc6',
  'qsq572ea250c246551400ce443e',
  'qcl4962',
  'qcl2738',
  'qcl5841',
  'qcl2056',
  'qsq572621b6ec44d21400f3d947',
  'qcl5039',
  'qsq5726319938643c19005ad2c9',
  'qcl6114',
  'qsq56d4f63e2ccc5a1400d8338d',
  'qsq570aa9616d058f1900183047',
  'qcl5484',
  'qcl2029',
  'qcl3097',
  'qcl4768',
  'qcl3049',
  'qsq5709fd234103511400d594e2',
  'qsq5729765a6aef051400154f49',
  'qcl6038',
  'qsq56e7692a00c9c71400d770df',
  'qcl3658',
  'qcl3903',
  'qsq56db31c5e7c41114004b4f21',
  'qsq57275a2bdd62a815002e9b9f',
  'qcl6554',
  'qcl6987',
  'qcl1995',
  'qsq573432b34776f41900661a59',
  'qcl6834',
  'qcl2223',
  'qcl7310',
  'qcl1962',
  'qcl2534',
  'qsq57266d4d5951b619008f7262',
  'qcl2146',
  'qcl6545',
  'qsq56f7c32ba6d7ea1400e17272',
  'qcl7421',
  'qcl6341',
  'qsq57102bb6b654c5140001f88a',
  'qcl4120',
  'qcl3741',
  'qcl2467',
  'qcl5939',
  'qsq572784dcf1498d1400e8fa99',
  'qcl7244',
  'qcl7452',
  'qcl5587',
  'qcl7407',
  'qcl7358',
  'qcl2677',
  'qsq572849443acd2414000df897',
  'qcl1543',
  'qcl4787',
  'qsq572ff1df947a6a140053ce4a',
  'qsq56f709cd711bf01900a44901',
  'qcl3081',
  'qsq56f9f994f34c681400b0bf20',
  'qcl3290',
  'qcl2080',
  'qsq56cfe133234ae51400d9bfe3',
  'qcl3100',
  'qcl2626',
  'qsq57293aba3f37b31900478129',
  'qcl736',
  'qcl6613',
  'qcl5357',
  'qcl5705',
  'qcl1117',
  'qsq56bfb789a10cfb1400551273',
  'qcl5379',
  'qcl716',
  'qsq572623d0ec44d21400f3d95b',
  'qcl7321',
  'qcl4554',
  'qcl6523',
  'qcl6467',
  'qcl5857',
  'qsq572e92b1cb0c0d14000f12db',
  'qcl2655',
  'qcl4909',
  'qcl2510',
  'qsq56cfff79234ae51400d9c239',
  'qcl3302',
  'qcl4034',
  'qsq56eab0855a205f1900d6d40d',
  'qsq5728fb0daf94a219006a9eb5',
  'qcl5198',
  'qcl3442',
  'qcl4305',
  'qcl5454',
  'qsq56f8ba5a9b226e1400dd0ebe',
  'qcl2554',
  'qsq5728b30aff5b5019007da4cc',
  'qcl3847',
  'qcl7085',
  'qcl5867',
  'qcl4609',
  'qsq56defbb63277331400b4d85e',
  'qsq570bd80cec8fbc190045bb60',
  'qcl7419',
  'qcl3710',
  'qcl4504',
  'qcl3457',
  'qcl3651',
  'qcl881',
  'qcl6814',
  'qsq5727a9314b864d19001639c3',
  'qsq572f83f3b2c2fd14005681a9',
  'qcl4321',
  'qsq570acc776d058f1900183109',
  'qsq5731cc95e99e3014001e62ac',
  'qcl5412',
  'qcl3389',
  'qsq56d375b159d6e4140014645e',
  'qcl5272',
  'qsq57314fe6497a881900248db7',
  'qsq573141b105b4da19006bcf67',
  'qcl4865',
  'qcl7036',
  'qcl2358',
  'qcl2392',
  'qcl6206',
  'qcl2079',
  'qcl4637',
  'qsq57287f113acd2414000dfa48',
  'qcl420',
  'qcl5067',
  'qcl7480',
  'qcl4999',
  'qcl6636',
  'qcl5398',
  'qcl4167',
  'qcl2057',
  'qcl1918',
  'qcl2632',
  'qcl2423',
  'qcl2685',
  'qsq56d127f317492d1400aabab7',
  'qcl3712',
  'qcl5336',
  'qsq572808852ca10214002d9c0a',
  'qcl6019',
  'qcl6244',
  'qsq56e1bc7ae3433e140042310f',
  'qcl5557',
  'qcl4011',
  'qsq57300a25a23a5019007fcc97',
  'qcl3886',
  'qsq56df4e1796943c1400a5d35d',
  'qcl6759',
  'qsq5726208f89a1e219009ac2bf',
  'qcl4661',
  'qcl5148',
  'qsq5730a4e0069b5314008321f8',
  'qsq56e0cfa8231d4119001ac3d7',
  'qsq57266905f1498d1400e8decf',
  'qsq572fa8c9947a6a140053cb12',
  'qcl3532',
  'qsq56d71bd80d65d2140019835e',
  'qcl6839',
  'qsq570637be52bb89140068997a',
  'qcl4788',
  'qsq572844f92ca10214002da211',
  'qcl3505',
  'qsq56e7a40237bdd419002c42c0',
  'qsq572e6ada03f9891900756688',
  'qcl2641',
  'qsq5726cfa3708984140094d20d',
  'qsq57304a87069b531400831ffa'],
 4: ['qsq57283dbeff5b5019007d9fca',
  'qcl6248',
  'qcl4393',
  'qcl4875',
  'qcl3305',
  'qsq5727bfe94b864d1900163c71',
  'qcl5778',
  'qsq570c2b766b8089140040fbbb',
  'qcl5053',
  'qsq570d257ab3d812140066d489',
  'qcl3371',
  'qsq5726addcdd62a815002e8cbd',
  'qcl5109',
  'qcl7166',
  'qcl7076',
  'qcl1534',
  'qcl2716',
  'qsq570bd0036b8089140040fa59',
  'qcl1960',
  'qcl4119',
  'qcl1185',
  'qcl2624',
  'qsq572f64e9947a6a140053c91d',
  'qcl7192',
  'qcl2661',
  'qsq5730219bb2c2fd1400568901',
  'qcl6622',
  'qcl2548',
  'qcl5848',
  'qsq572846033acd2414000df846',
  'qsq56fb81e5b28b3419009f1dac',
  'qcl4623',
  'qcl6686',
  'qsq57318491e6313a140071d005',
  'qcl2293',
  'qcl2344',
  'qcl2416',
  'qcl3876',
  'qcl6712',
  'qcl5890',
  'qcl1517',
  'qcl7459',
  'qcl3827',
  'qcl5167',
  'qcl2025',
  'qcl5846',
  'qcl4798',
  'qcl4660',
  'qsq56f8c1a59e9bad19000a043b',
  'qsq573027a5b2c2fd1400568981',
  'qcl2815',
  'qcl5562',
  'qsq572faa1c04bcaa1900d76b8b',
  'qcl6098',
  'qcl2629',
  'qcl6709',
  'qcl5410',
  'qcl2839',
  'qcl5239',
  'qcl2184',
  'qsq57267c915951b619008f7460',
  'qcl7053',
  'qcl4859',
  'qcl1555',
  'qcl4168',
  'qcl2472',
  'qcl6484',
  'qcl4067',
  'qcl4410',
  'qsq572973f76aef051400154f0c',
  'qcl6697',
  'qcl5627',
  'qcl3554',
  'qcl432',
  'qcl4795',
  'qcl5564',
  'qcl6485',
  'qsq57264a04708984140094c178',
  'qsq572a83c4be1ee31400cb8061',
  'qsq572828383acd2414000df5c5',
  'qcl1547',
  'qsq56de64cf4396321400ee2878',
  'qcl6326',
  'qcl2284',
  'qcl3104',
  'qsq56d1186417492d1400aab912',
  'qcl7026',
  'qsq5730e860b54a4f140068ccdb',
  'qsq572802332ca10214002d9b52',
  'qsq573452bb879d6814001ca51f',
  'qcl7290',
  'qsq571d2c3b5efbb31900334ec4',
  'qcl3610',
  'qcl2853',
  'qcl5207',
  'qcl734',
  'qsq572717315951b619008f85c0',
  'qsq56f9e9128f12f3190062ffe1',
  'qsq56df680f8bc80c19004e4bdd',
  'qcl2424',
  'qcl6529',
  'qcl1137',
  'qcl2813',
  'qcl6767',
  'qcl6269',
  'qcl6242',
  'qsq56d1c549e7d4791d0090214a',
  'qcl6734',
  'qcl6204',
  'qcl6639',
  'qsq572ecf3bcb0c0d14000f15c0',
  'qsq5725e54e271a42140099d2ec',
  'qcl3199',
  'qsq572b68a7f75d5e190021fda6',
  'qsq570c3185ec8fbc190045bd72',
  'qcl4570',
  'qcl4946',
  'qsq5726dcaff1498d1400e8ed9e',

# Generating qrels

## Binarising topical relevance

In [1]:
import pandas as pd

qrel_relevance = pd.read_csv("./datasets/kid-friend-en/qrels/qrels-relevance.txt", header = None, sep=" ")
qrel_relevance.columns = ["qnum", "q0", "docid", "relevance"]
qrel_relevance["relevance"] = [int(row["relevance"]>0) for _, row in qrel_relevance.iterrows()]
qrel_relevance.drop_duplicates(["qnum","docid"],inplace=True)
qrel_relevance.to_csv("./datasets/kid-friend-en/qrels/qrels-topical-relevance.tsv", header=None, sep="\t", index=None)

## Readability: Spache-allen

In [7]:
import json
import pandas as pd
import textstat
from spacheallen.formula import spache_allen

lines = []
corpus_file_path = './datasets/kid-friend-en/corpus/documents.jsonl'
with open(corpus_file_path) as f:
    lines = f.read().splitlines()

line_dicts = [json.loads(line) for line in lines]
corpus_file = pd.DataFrame(line_dicts)
# corpus_file["dale_chall"] = [round(textstat.dale_chall_readability_score(text),2) for text in corpus_file["contents"]]
# corpus_file["fkgl"] = [round(textstat.flesch_kincaid_grade(text),2) for text in corpus_file["contents"]]
# corpus_file["readability_consensus"] = [textstat.text_standard(text,float_output=False) for text in corpus_file["contents"]]
corpus_file["spache-allen"] = [int(spache_allen(text)) for text in corpus_file["contents"]]

output_path = "./playground_results/kid-friend-en-corpus.jsonl"
print(len(line_dicts), len(corpus_file))
with open(output_path, "w") as f:
    f.write(corpus_file.to_json(orient='records', lines=True, force_ascii=False))

corpus_file.to_csv("./playground_results/kid-friend-en-corpus.tsv", index=False, sep='\t')
corpus_file.head(2)

2385 2385

,id,contents,spache-allen
0,6e421f1539b1457b853712d81be87743,BTS (band) - Wikipedia. WEBBTS (also Bangtan B...,6
1,1539268e3f1d41c9abcaa277b23f51d9,Before you go on to YouTube. WEBMusic video by...,6

In [ ]:
import pandas as pd

corpus_file = pd.read_csv("./playground_results/kid-friend-en-corpus.tsv", sep='\t')
corpus_file.head()

In [ ]:
# print("dale chall: ", corpus_file["dale_chall"].median())
# print("fkgl: ", corpus_file["fkgl"].median())
print("spache-allen: ", corpus_file["spache-allen"].median())
# corpus_file["readability_consensus"].value_counts()

len(corpus_file), len(corpus_file.loc[corpus_file["spache-allen"]<5])

In [ ]:
corpus_file.columns

In [ ]:
int(corpus_file.loc[corpus_file["id"]=="77cdd0f6c3b04b5bbe79fac37c2ae63b"]["spache-allen"].values[0] < 5)

In [ ]:
import pandas as pd

qrel_relevance = pd.read_csv("./datasets/kid-friend-en/qrels/qrels-relevance.txt", header = None, sep=" ")
qrel_relevance["readability"] = [int(corpus_file.loc[corpus_file["id"]==docid]["spache-allen"].values[0]<=5) for docid in qrel_relevance.docid]

temp = []
for name, group in qrel_relevance.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

df_old = pd.DataFrame(temp, columns=["qnum", "relevant_doc_distribution"])

extended_rel = []

for _, row in qrel_relevance.iterrows():
    if row["relevance"] > 0 and row["readability"] == 1:
        extended_rel.append(2)
    elif row["relevance"] > 0 and row["readability"] == 0:
        extended_rel.append(1)
    else:
        extended_rel.append(0)

qrel_relevance["readability_relevance"] = extended_rel


len(qrel_relevance.loc[qrel_relevance["readability_relevance"]==1])

qrel_relevance.drop(columns=["relevance","readability"], inplace=True)
qrel_relevance.rename(columns={"readability_relevance": "relevance"}, inplace=True)
qrel_relevance.drop_duplicates(["qnum","docid"],inplace=True)

temp = []
for name, group in qrel_relevance.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

qrel_relevance.to_csv("./datasets/kid-friend-en/qrels/qrels-readability-relevance.tsv", header=None, sep="\t", index=None)

In [ ]:
df = pd.DataFrame(temp, columns=["qnum", "readability_relevant_doc_distribution"])
df = df_old.merge(df, on='qnum')
df

## Educational content: FineWeb-edu

In [ ]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("HuggingFaceTB/fineweb-edu-classifier")
model = AutoModelForSequenceClassification.from_pretrained("HuggingFaceTB/fineweb-edu-classifier")

def edu_value(text):
  # text = "This is a test sentence."
  inputs = tokenizer(text, return_tensors="pt", padding="longest", truncation=True)
  outputs = model(**inputs)
  logits = outputs.logits.squeeze(-1).float().detach().numpy()
  score = logits.item()
  result = {
      "text": text,
      "score": score,
      "int_score": int(round(max(0, min(score, 5)))),
  }

  return int(result["int_score"]>=3)

In [ ]:
from tqdm.notebook import tqdm
import pandas as pd

df = pd.read_csv("./playground_results/kid-friend-en-corpus.tsv", sep="\t")

edu_value_results = []

for _, row in tqdm(df.iterrows() , total=len(df)):
  edu_val = edu_value(row["contents"])
  edu_value_results.append(edu_val)

df["edu_val"] = edu_value_results
df.head(5)

In [ ]:
df.to_csv("./playground_results/kid-friend-en-corpus-extended.tsv", sep="\t", index=None)

In [ ]:
import pandas as pd

corpus = pd.read_csv("./playground_results/kid-friend-en-corpus-extended.tsv", sep="\t")
qrel_topical_rel = pd.read_csv("./datasets/kid-friend-en/qrels/qrels-topical-relevance.tsv", sep="\t", header=None)
qrel_topical_rel.columns = ["qnum", "q0", "docid", "relevance"]

qrel_topical_rel["edu_rel"] = [corpus.loc[corpus["id"]==docid]["edu_val"].values[0] for docid in qrel_topical_rel.docid]
qrel_topical_rel.head(3)

   qnum  q0                             docid  relevance  edu_rel
0     1   0  77cdd0f6c3b04b5bbe79fac37c2ae63b          0        0
1     1   0  c8a2aa042145402a8c180ca6f467c575          1        0
2     1   0  d82e5e4f531841d49bcd6fe7bd8cdf8f          0        0

In [32]:
temp = []
for name, group in qrel_topical_rel.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

df_old = pd.DataFrame(temp, columns=["qnum", "relevant_doc_distribution"])

In [33]:
extended_rel = []

for _, row in qrel_topical_rel.iterrows():
    if row["edu_rel"] == 1 and row["relevance"] == 1:
        extended_rel.append(2)
    elif row["relevance"] == 1:
        extended_rel.append(1)
    else:
        extended_rel.append(0)
    
qrel_topical_rel["edu_relevance"] = extended_rel


len(qrel_topical_rel.loc[qrel_topical_rel["edu_relevance"]==1])

qrel_topical_rel.drop(columns=["relevance","edu_rel"], inplace=True)
qrel_topical_rel.rename(columns={"edu_relevance": "relevance"}, inplace=True)
qrel_topical_rel.drop_duplicates(["qnum","docid"],inplace=True)

temp = []
for name, group in qrel_topical_rel.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

qrel_topical_rel.to_csv("./datasets/kid-friend-en/qrels/qrels-eduval-relevance.tsv", header=None, sep="\t", index=None)
qrel_topical_rel.head(3)

   qnum  q0                             docid  relevance
0     1   0  77cdd0f6c3b04b5bbe79fac37c2ae63b          0
1     1   0  c8a2aa042145402a8c180ca6f467c575          1
2     1   0  d82e5e4f531841d49bcd6fe7bd8cdf8f          0

In [34]:
temp = []
for name, group in qrel_topical_rel.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

df = pd.DataFrame(temp, columns=["qnum", "eduval_relevant_doc_distribution"])
df = df_old.merge(df, on='qnum')
df

    qnum relevant_doc_distribution eduval_relevant_doc_distribution
0      1            {0: 13, 1: 23}             {0: 13, 1: 22, 2: 1}
1      2             {0: 20, 1: 3}                    {0: 20, 1: 3}
2      3            {0: 13, 1: 12}                   {0: 13, 1: 12}
3      4            {0: 13, 1: 12}                   {0: 13, 1: 12}
4      5            {0: 13, 1: 35}             {0: 13, 1: 33, 2: 2}
5      6              {0: 2, 1: 8}                     {0: 2, 1: 8}
6      7            {0: 22, 1: 16}             {0: 22, 1: 14, 2: 2}
7      8             {0: 12, 1: 8}                    {0: 12, 1: 8}
8      9            {0: 20, 1: 37}             {0: 20, 1: 35, 2: 2}
9     10            {0: 15, 1: 13}             {0: 15, 1: 12, 2: 1}
10    11                   {1: 21}                    {1: 18, 2: 3}
11    12                   {1: 29}                    {1: 5, 2: 24}
12    13             {0: 1, 1: 32}             {0: 1, 1: 10, 2: 22}
13    14            {0: 33, 1: 37}            {0: 33, 1: 27, 2: 10}
14    15            {0: 32, 1: 26}            {0: 32, 1: 12, 2: 14}
15    16            {0: 11, 1: 34}             {0: 11, 1: 4, 2: 30}
16    17             {0: 5, 1: 26}             {0: 5, 1: 10, 2: 16}
17    18            {0: 32, 1: 30}             {0: 32, 1: 22, 2: 8}
18    19            {0: 10, 1: 21}                   {0: 10, 1: 21}
19    20             {0: 3, 1: 26}             {0: 3, 1: 16, 2: 10}
20    21            {0: 11, 1: 49}            {0: 11, 1: 11, 2: 38}
21    22            {0: 21, 1: 36}             {0: 21, 1: 4, 2: 32}
22    23            {0: 22, 1: 36}            {0: 22, 1: 16, 2: 20}
23    24            {0: 15, 1: 32}             {0: 15, 1: 4, 2: 28}
24    25            {0: 15, 1: 23}             {0: 15, 1: 5, 2: 18}
25    26             {0: 9, 1: 35}              {0: 9, 1: 2, 2: 33}
26    27            {0: 25, 1: 14}              {0: 25, 1: 5, 2: 9}
27    28            {0: 27, 1: 45}             {0: 27, 1: 39, 2: 6}
28    29             {0: 1, 1: 33}             {0: 1, 1: 14, 2: 19}
29    30            {0: 27, 1: 47}            {0: 27, 1: 34, 2: 13}
30    31            {0: 12, 1: 43}             {0: 12, 1: 35, 2: 8}
31    32            {0: 10, 1: 43}            {0: 10, 1: 23, 2: 20}
32    33            {0: 12, 1: 44}             {0: 12, 1: 40, 2: 4}
33    34             {0: 6, 1: 48}             {0: 6, 1: 17, 2: 31}
34    35            {0: 14, 1: 37}             {0: 14, 1: 35, 2: 2}
35    36             {0: 9, 1: 26}              {0: 9, 1: 25, 2: 1}
36    37            {0: 20, 1: 40}             {0: 20, 1: 36, 2: 4}
37    38             {0: 8, 1: 29}                    {0: 8, 1: 29}
38    39            {0: 15, 1: 42}             {0: 15, 1: 36, 2: 6}
39    40            {0: 22, 1: 41}            {0: 22, 1: 29, 2: 12}
40    41             {0: 48, 1: 8}              {0: 48, 1: 7, 2: 1}
41    42            {0: 14, 1: 47}             {0: 14, 1: 41, 2: 6}
42    43             {0: 9, 1: 34}              {0: 9, 1: 32, 2: 2}
43    44            {0: 14, 1: 37}            {0: 14, 1: 26, 2: 11}
44    45            {0: 33, 1: 25}                   {0: 33, 1: 25}
45    46            {0: 19, 1: 29}                   {0: 19, 1: 29}
46    47            {0: 25, 1: 34}                   {0: 25, 1: 34}
47    48            {0: 16, 1: 29}                   {0: 16, 1: 29}
48    49            {0: 35, 1: 27}                   {0: 35, 1: 27}
49    50            {0: 39, 1: 18}                   {0: 39, 1: 18}

## Extended relevance (topical + readability + educational content)

In [ ]:
import pandas as pd

corpus = pd.read_csv("./playground_results/kid-friend-en-corpus-extended.tsv", sep="\t")
qrel_topical_rel = pd.read_csv("./datasets/kid-friend-en/qrels/qrels-topical-relevance.tsv", sep="\t", header=None)
qrel_topical_rel.columns = ["qnum", "q0", "docid", "relevance"]

qrel_topical_rel["edu_rel"] = [corpus.loc[corpus["id"]==docid]["edu_val"].values[0] for docid in qrel_topical_rel.docid]
qrel_topical_rel["readability"] = [int(corpus.loc[corpus["id"]==docid]["spache-allen"].values[0]<=5) for docid in qrel_topical_rel.docid]
qrel_topical_rel.head(3)

   qnum  q0                             docid  relevance  edu_rel  readability
0     1   0  77cdd0f6c3b04b5bbe79fac37c2ae63b          0        0            1
1     1   0  c8a2aa042145402a8c180ca6f467c575          1        0            0
2     1   0  d82e5e4f531841d49bcd6fe7bd8cdf8f          0        0            1

In [36]:
temp = []
for name, group in qrel_topical_rel.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

df_old = pd.DataFrame(temp, columns=["qnum", "relevant_doc_distribution"])

In [37]:
extended_rel = []

for _, row in qrel_topical_rel.iterrows():
    if row["edu_rel"] == 1 and row["relevance"] == 1 and row["readability"]==1:
        extended_rel.append(3)
    elif (row["edu_rel"] == 1 and row["relevance"] == 1 and row["readability"] == 0) or (row["edu_rel"] == 1 and row["relevance"] == 0 and row["readability"] == 1):
        extended_rel.append(2)
    elif row["relevance"] == 1:
        extended_rel.append(1)
    else:
        extended_rel.append(0)
    
qrel_topical_rel["extended_relevance"] = extended_rel


len(qrel_topical_rel.loc[qrel_topical_rel["extended_relevance"]==1])

qrel_topical_rel.drop(columns=["relevance","edu_rel", "readability"], inplace=True)
qrel_topical_rel.rename(columns={"extended_relevance": "relevance"}, inplace=True)
qrel_topical_rel.drop_duplicates(["qnum","docid"],inplace=True)

temp = []
for name, group in qrel_topical_rel.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

qrel_topical_rel.to_csv("./datasets/kid-friend-en/qrels/qrels-extended-relevance.tsv", header=None, sep="\t", index=None)
qrel_topical_rel.head(3)

   qnum  q0                             docid  relevance
0     1   0  77cdd0f6c3b04b5bbe79fac37c2ae63b          0
1     1   0  c8a2aa042145402a8c180ca6f467c575          1
2     1   0  d82e5e4f531841d49bcd6fe7bd8cdf8f          0

In [38]:
temp = []
for name, group in qrel_topical_rel.groupby(by="qnum"):
    temp.append([name, group["relevance"].value_counts().sort_index().to_dict()])

df = pd.DataFrame(temp, columns=["qnum", "extended_relevant_doc_distribution"])
df = df_old.merge(df, on='qnum')
df

    qnum relevant_doc_distribution extended_relevant_doc_distribution
0      1            {0: 13, 1: 23}               {0: 13, 1: 22, 2: 1}
1      2             {0: 20, 1: 3}                      {0: 20, 1: 3}
2      3            {0: 13, 1: 12}                     {0: 13, 1: 12}
3      4            {0: 13, 1: 12}                     {0: 13, 1: 12}
4      5            {0: 13, 1: 35}         {0: 13, 1: 33, 2: 1, 3: 1}
5      6              {0: 2, 1: 8}                       {0: 2, 1: 8}
6      7            {0: 22, 1: 16}         {0: 22, 1: 14, 2: 1, 3: 1}
7      8             {0: 12, 1: 8}                      {0: 12, 1: 8}
8      9            {0: 20, 1: 37}         {0: 20, 1: 35, 2: 1, 3: 1}
9     10            {0: 15, 1: 13}               {0: 15, 1: 12, 3: 1}
10    11                   {1: 21}                      {1: 18, 2: 3}
11    12                   {1: 29}               {1: 5, 2: 14, 3: 10}
12    13             {0: 1, 1: 32}               {1: 10, 2: 14, 3: 9}
13    14            {0: 33, 1: 37}         {0: 32, 1: 27, 2: 7, 3: 4}
14    15            {0: 32, 1: 26}        {0: 32, 1: 12, 2: 11, 3: 3}
15    16            {0: 11, 1: 34}        {0: 10, 1: 4, 2: 18, 3: 13}
16    17             {0: 5, 1: 26}               {0: 4, 1: 10, 2: 17}
17    18            {0: 32, 1: 30}         {0: 32, 1: 22, 2: 5, 3: 3}
18    19            {0: 10, 1: 21}                     {0: 10, 1: 21}
19    20             {0: 3, 1: 26}               {0: 3, 1: 16, 2: 10}
20    21            {0: 11, 1: 49}         {0: 9, 1: 11, 2: 35, 3: 5}
21    22            {0: 21, 1: 36}         {0: 15, 1: 4, 2: 35, 3: 3}
22    23            {0: 22, 1: 36}        {0: 20, 1: 16, 2: 15, 3: 7}
23    24            {0: 15, 1: 32}         {0: 12, 1: 4, 2: 24, 3: 7}
24    25            {0: 15, 1: 23}         {0: 11, 1: 5, 2: 19, 3: 3}
25    26             {0: 9, 1: 35}          {0: 6, 1: 2, 2: 28, 3: 8}
26    27            {0: 25, 1: 14}                {0: 25, 1: 5, 2: 9}
27    28            {0: 27, 1: 45}         {0: 27, 1: 39, 2: 5, 3: 1}
28    29             {0: 1, 1: 33}               {0: 1, 1: 14, 2: 19}
29    30            {0: 27, 1: 47}         {0: 27, 1: 34, 2: 9, 3: 4}
30    31            {0: 12, 1: 43}         {0: 12, 1: 35, 2: 6, 3: 2}
31    32            {0: 10, 1: 43}              {0: 10, 1: 23, 2: 20}
32    33            {0: 12, 1: 44}         {0: 12, 1: 40, 2: 3, 3: 1}
33    34             {0: 6, 1: 48}         {0: 5, 1: 17, 2: 23, 3: 9}
34    35            {0: 14, 1: 37}               {0: 14, 1: 35, 3: 2}
35    36             {0: 9, 1: 26}                {0: 9, 1: 25, 2: 1}
36    37            {0: 20, 1: 40}               {0: 19, 1: 36, 2: 5}
37    38             {0: 8, 1: 29}                      {0: 8, 1: 29}
38    39            {0: 15, 1: 42}               {0: 15, 1: 36, 2: 6}
39    40            {0: 22, 1: 41}        {0: 20, 1: 29, 2: 10, 3: 4}
40    41             {0: 48, 1: 8}          {0: 42, 1: 7, 2: 6, 3: 1}
41    42            {0: 14, 1: 47}         {0: 14, 1: 41, 2: 3, 3: 3}
42    43             {0: 9, 1: 34}          {0: 8, 1: 32, 2: 2, 3: 1}
43    44            {0: 14, 1: 37}         {0: 11, 1: 26, 2: 7, 3: 7}
44    45            {0: 33, 1: 25}               {0: 31, 1: 25, 2: 2}
45    46            {0: 19, 1: 29}                     {0: 19, 1: 29}
46    47            {0: 25, 1: 34}               {0: 23, 1: 34, 2: 2}
47    48            {0: 16, 1: 29}               {0: 13, 1: 29, 2: 3}
48    49            {0: 35, 1: 27}               {0: 33, 1: 27, 2: 2}
49    50            {0: 39, 1: 18}               {0: 36, 1: 18, 2: 3}